<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Henry From Online {% if project.title or title %}|{% endif %} {{
      project.title if project.title else post.title else data.title else
      title}}
    </title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    {{ content }}
    <script src="/js/index.js" type="module"></script>
    <script src="/js/drifter.js"></script>
  </body>
</html>
