.bottom-nav {
  font-size: 0.75rem;
  max-width: 37.5rem;
  margin-top: 4rem;
  margin-bottom: 10rem;
  padding: 0 1.5rem;
  text-transform: uppercase;

  @include screen(md) {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    max-width: calc(100vw - 3rem);
    margin: 0 auto 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color--background);
    border-top: 1px solid currentColor;
    mix-blend-mode: difference;
    [dark] & {
      color: inherit;
      mix-blend-mode: unset;
    }
    div:nth-of-type(2) {
      justify-self: center;
    }
    div:nth-of-type(3) {
      justify-self: end;
    }
  }
  @include screen(lg) {
    position: fixed;
    max-width: 75rem;
    margin: 0 auto;
  }
}
