.more-writing {
  margin-bottom: 6rem;
  padding-top: 6rem;
  border-top: 1px solid currentColor;
  &__title {
    font-family: $font--display;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 4.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-transform: uppercase;

    @include screen(sm) {
      font-size: 3rem;
      max-width: unset;
    }
    @include screen(lg) {
      font-size: 4rem;
      text-align: center;
    }
  }
}
.next-case-study {
  position: relative;
  border-top: 1px solid currentColor;
  &:before {
    font-size: 0.75rem;
    position: absolute;
    top: -2rem;
    padding-left: 1.5rem;
    content: 'Next Case Study';
    text-transform: uppercase;

    @include screen(lg) {
      right: 0;
      left: 0;
      width: 100%;
      max-width: 75rem;
      margin: 0 auto;
    }
  }

  &__link {
    display: block;
    padding-top: 4.5rem;
    text-decoration: none;

    @include screen(lg) {
      padding-top: 6rem;
    }

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: '';
      transition: transform 0.2s ease;
      transform: scaleX(0);
      transform-origin: 0 0;
      background-color: currentColor;
    }
    &:hover {
      &:after {
        transform: scaleX(1);
      }
    }
  }
  &__article {
    @include screen(lg) {
      display: grid;
      grid-column-gap: 1rem;
      grid-template-columns: repeat(16, 1fr);
      max-width: 75rem;
      margin: 0 auto 6rem;
    }
  }
  &__title {
    font-family: $font--display;
    font-size: 4.5rem;
    font-weight: 100;
    line-height: 0.85;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 2.5rem;
    padding-left: 1.5rem;
    text-transform: uppercase;

    @include screen(lg) {
      font-size: 9rem;
      overflow: visible;
      grid-column: 1 / span 10;
      grid-row: span 2;
      padding-left: 0;
    }
  }
  &__meta {
    margin-bottom: 4.5rem;
    padding-left: 1.5rem;
    text-transform: uppercase;

    @include screen(lg) {
      grid-column: 13 / span 4;
      text-align: right;
    }
    p {
      margin: 0;
    }
  }
  &__image {
    width: 100%;
    height: 21rem;
    object-fit: cover;
  }
}
