.homepage {
  counter-reset: homepage-headers;
}

.homepage-section {
  $roman-numeral-size: 6rem;
  $roman-numeral-size--small: 18rem;

  overflow-x: hidden;
  padding-top: $roman-numeral-size;
  counter-increment: homepage-headers;

  @include screen(sm) {
    padding-top: $roman-numeral-size--small;
  }
  &__link {
    position: relative;
    display: block;
    padding-top: #{10rem + $roman-numeral-size};
    padding-bottom: 10rem;
    text-decoration: none;

    @include screen(sm) {
      padding-top: #{10rem + $roman-numeral-size--small};
    }

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 2px;
      content: '';
      transition: transform 0.2s ease;
      transform: scaleX(0);
      transform-origin: 0 0;
      background-color: currentColor;
    }
    &:hover {
      &:before {
        transform: scaleX(1);
      }
    }
  }
  &__title {
    font-family: $font--display;
    font-size: $roman-numeral-size;
    font-weight: 100;
    line-height: 0.9;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    @include screen(sm) {
      margin-bottom: 6rem;
    }
    @include screen(md) {
      max-width: 28rem;
      margin-right: auto;
      margin-left: auto;
    }
    &:before {
      position: absolute;
      top: 0;
      content: counter(homepage-headers, upper-roman);
      transform: translateY(-100%);

      @include screen(sm) {
        font-size: $roman-numeral-size--small;
        margin-left: -0.125em;
        letter-spacing: -0.125em;
      }
    }
  }
  &__additional-title {
    font-family: $font--display;
    font-size: 2rem;
    font-weight: 100;
    line-height: 0.9;
    max-width: 15rem;
    margin-top: 4.5rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;

    @include screen(sm) {
      font-size: 3rem;
      max-width: unset;
    }
    @include screen(md) {
      max-width: 30rem;
    }
    @include screen(lg) {
      font-size: 4rem;
      max-width: unset;
      margin-bottom: 3.75rem;
      text-align: center;
      letter-spacing: -3px;
    }
  }
}

.selected-works {
  margin-bottom: 10rem;
  .case-studies-list {
    @include screen(lg) {
      margin-bottom: 10rem;
    }
  }
}

.about {
  position: relative;
  padding-top: 31rem;
  border-top: 1px solid currentColor;
  &__intro {
    font-family: $font--display;
    font-size: 1.25rem;
    line-height: 1.3;
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    text-align: center;
    &[reveal] {
      ins {
        opacity: 0;
      }
      :is(del, ins) {
        &:before {
          transform: scaleX(0);
        }
      }
    }

    @include screen(sm) {
      font-size: 1.5rem;
    }
    del {
      position: relative;
      display: inline-block;
      text-decoration: none;
      &:before {
        position: absolute;
        top: 0.75em;
        right: 0;
        left: 0;
        height: 1px;
        content: '';
        transition: transform 0.5s ease;
        transform: scaleX(1);
        transform-origin: 0 0;
        background-color: currentColor;
      }
    }
    ins {
      position: relative;
      display: inline-block;
      text-decoration: none;
      opacity: 1;
      transition: opacity 0.2s ease;
      transition-delay: 0.3s;
      &:before {
        position: absolute;
        right: 0;
        bottom: 3px;
        left: 0;
        height: 1px;
        content: '';
        transition: transform 0.5s ease;
        transition-delay: 0.5s;
        transform: scaleX(1);
        transform-origin: 0 0;
        background-color: currentColor;
      }
    }
  }
  &__two-col {
    @include screen(sm) {
      display: grid;
      grid-column-gap: 1rem;
      grid-template-columns: repeat(8, 1fr);
    }
  }
  &__additional-content {
    max-width: 15rem;
    padding-left: 1.5rem;

    @include screen(sm) {
      grid-column-end: span 4;
    }
  }
  &__subtitle {
    font-weight: bold;
    margin-top: 3.75rem;
    text-transform: uppercase;
  }
  &__social-links {
    padding: 0 1.5rem;

    @include screen(sm) {
      grid-column: 6 / span 2;
    }
  }
  .homepage-section__additional-title {
    padding-left: 1.5rem;
  }
}
.writing {
  padding: 0;
  border-top: 1px solid currentColor;
}
