.magazine-cover {
  position: relative;
  margin-bottom: 10rem;
  &__title {
    font-family: $font--display;
    font-size: 7.25rem;
    font-weight: 100;
    position: relative;
    z-index: -1;
    margin-bottom: -3.625rem;
    text-align: center;
    letter-spacing: -0.25rem;
    text-transform: uppercase;

    @include screen(sm) {
      font-size: 10rem;
      margin-bottom: -5rem;
    }
    @include screen(md) {
      font-size: 18rem;
      margin-top: 10rem;
      margin-bottom: -9rem;
    }
  }
  &__subtitle {
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    left: 0;
    max-width: 18rem;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    filter: blur(2px);

    @include screen(sm) {
      font-size: 1.5rem;
      max-width: 25rem;
    }
    @include screen(md) {
      top: 21rem;
    }
  }
  &__image-wrapper {
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: 28rem;

    @include screen(sm) {
      height: 50rem;
    }
    @include screen(md) {
      max-width: 75rem;
      height: auto;
      margin: 0 auto;
      padding-top: 1400 / 1200 * 100%;
    }
    @include screen(lg) {
      background-color: #e2dfdf;
    }
    &:before {
      font-family: $font--display;
      font-size: 7.25rem;
      font-weight: 100;
      position: absolute;
      top: -5.2rem;
      right: 0;
      left: 0;
      content: 'soon';
      text-align: center;
      letter-spacing: -0.25rem;
      text-transform: uppercase;
      filter: blur(2px);

      @include screen(sm) {
        font-size: 10rem;
        top: -7.2rem;
      }
      @include screen(md) {
        font-size: 18rem;
        top: -12.6rem;
      }
    }
  }
  &__image {
    @include screen(md) {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @include screen(lg) {
      top: 1.5rem;
      left: 1.5rem;
      width: calc(100% - 3rem);
      height: calc(100% - 3rem);
    }
  }
}
