.post {
  &__intro {
    margin-bottom: 5rem;
    padding-right: 1.5rem;
    padding-bottom: 6rem;
    padding-left: 1.5rem;
    border-bottom: 1px solid currentColor;
  }
  &__title {
    font-family: $font--display;
    font-size: 3rem;
    font-weight: 100;
    line-height: 0.85;
    margin-top: 13rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
  }
  &__tags {
    font-size: 0.75rem;
    margin-bottom: 4.5rem;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
  }
}
