.project {
  &__featured-image-wrapper {
    --overflow: 80px;

    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30rem;

    @include screen(sm) {
      height: 45rem;
    }
  }
  &__featured-image {
    position: absolute;
    width: 100%;
    min-height: calc(100% + var(--overflow) + var(--overflow));
    object-fit: cover;
    margin-top: calc(var(--overflow) * -1);
  }
  &__intro {
    overflow: hidden;
    margin-bottom: 5rem;
    padding-bottom: 6rem;

    @include screen(lg) {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  &__intro-row {
    margin-bottom: 4.5rem;
    padding-right: 1.5rem;
    padding-bottom: 4.5rem;
    padding-left: 1.5rem;
    border-bottom: 1px solid currentColor;
  }
  &__intro-inner {
    @include screen(lg) {
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      max-width: 75rem;
      margin-top: 6rem;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__title {
    font-family: $font--display;
    font-size: 4.5rem;
    font-weight: 100;
    line-height: 0.85;
    margin-top: 4.5rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;

    @include screen(sm) {
      font-size: 6.75rem;
    }
    @include screen(lg) {
      font-size: 9rem;
      grid-column: 1 / span 10;
      grid-row: span 2;
      margin-top: 0;
    }
  }
  &__meta {
    margin-bottom: 3rem;
    text-transform: uppercase;

    @include screen(lg) {
      grid-column: 13 / span 4;
      margin-bottom: 8rem;
      text-align: right;
    }
    p {
      margin: 0;
    }
  }
  &__live-link {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    @include screen(lg) {
      grid-column: 13 / span 4;
      text-align: right;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__excerpt {
    font-size: 1.25rem;
    max-width: 27.5rem;
    margin-bottom: 4.5rem;

    @include screen(lg) {
      grid-column: 1 / span 6;
    }
  }
  .table-of-contents {
    grid-column: 11 / span 6;
  }
}
