.recognition-chart {
  display: none;
  max-width: 75rem;
  margin: 0 auto 10rem;
  padding: 0 1.5rem;
  text-transform: uppercase;

  @include screen(md) {
    display: block;
  }

  thead,
  tbody {
    display: block;
  }
  thead {
    font-size: 0.75rem;
    position: sticky;
    top: 0;
    text-align: left;
  }
  tr {
    position: relative;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(16, 1fr);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid currentColor;
    &:last-of-type {
      border-bottom: none;
    }
  }
  th,
  td {
    grid-column-end: span 4;

    &:nth-of-type(3) {
      grid-column-end: span 7;
    }
  }
  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding-top: 1rem;
    text-align: right;
  }
}
.recognition-mobile {
  margin-bottom: 10rem;
  text-transform: uppercase;
  border-bottom: 1px solid currentColor;

  @include screen(md) {
    display: none;
  }
  &__section {
    padding: 2rem 1.5rem 1rem;
    border-top: 1px solid currentColor;
  }
  &__org {
    font-size: 0.75rem;
    font-weight: bold;
  }
  &__row {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
}
