.spotify-widget {
  display: none;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100vw / 3);
  height: 2ch;
  text-align: right;
  justify-content: end;
  grid-gap: 0.5rem;
  @include screen(sm) {
    display: flex;
    align-items: center;
    line-height: 1.1;
  }
  @include screen(md) {
    justify-self: end;
  }
  &__inner {
    text-overflow: ellipsis;
    overflow: hidden;
    a {
      display: inline-block;
      text-decoration: none;
      white-space: nowrap;
      @include underlined-anim;
    }
  }

  &__artists {
    font-style: italic;
    a {
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}
