.top-nav {
  $this: &;

  font-size: 0.75rem;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  max-width: 100vw;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  // border-bottom: 1px solid currentColor;
  background-color: var(--color--background);
  &:after {
    content: '';
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: currentColor;
    transition: transform 0.3s;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  @include screen(md) {
    grid-template-columns: repeat(3, calc(100% / 3));
  }
  @include screen(lg) {
    max-width: 75rem;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    // color: var(--color--background);
    background-color: transparent;
    // mix-blend-mode: difference;
    [dark] & {
      color: inherit;
      mix-blend-mode: unset;
    }
  }
  &--difference {
    // color: var(--color--background);
    background-color: transparent;
    // mix-blend-mode: difference;
    [dark] & {
      color: inherit;
      mix-blend-mode: unset;
    }
  }
  &__brand {
    text-decoration: none;

    svg {
      width: 1.5ch;
      animation: svg-rotate 10s linear infinite;
      @keyframes svg-rotate {
        to {
          transform: rotate(360deg);
        }
      }
    }
    &:hover {
      // text-decoration: underline;
      svg {
        animation-play-state: paused;
      }
      #{$this}__brand-extension {
        transform: translateX(0);
        opacity: 1;
        &:before {
          transform: translateX(0);
        }
      }
    }
  }
  &__brand-extension {
    display: none;

    @include screen(sm) {
      display: inline-block;
      transition: all 0.1s ease;
      transform: translateX(-2ch);
      opacity: 0;
      &:before {
        display: inline-block;
        content: ' — ';
        transition: all 0.1s ease;
        transform: translateX(2ch);
      }
    }
  }
  &__links {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1ch;
    align-content: center;
    @include screen(md) {
      justify-self: center;
    }
    &:after {
      grid-column: 2;
      content: '—';
    }
  }
  &__link {
    text-decoration: none;
    display: inline-block;
    @include underlined-anim;
    &--active {
      &:after {
        transform: scaleX(1);
      }
    }
  }
}

// animation
.top-nav {
  &-enter {
    &:after {
      transition: 0.4s ease;
      transform: scaleX(0);
    }
  }
  &-enter-to {
    &:after {
      transform: scaleX(1);
    }
  }
  //   &__brand {
  //     transition: all 0.3s;
  //     transition-delay: 0.2s;
  //   }
  //   &--staged {
  //     .top-nav__brand {
  //       clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0 100%);
  //     }
  //     &:after {
  //       transform: scaleX(0);
  //     }
  //   }
  //   &--arrived {
  //     .top-nav__brand {
  //       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  //     }
  //   }
}
