.writing-list {
  padding: 0;
  list-style-type: none;
}
.writing-list-item {
  $this: &;

  font-size: 0.75rem;
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid currentColor;

  @include screen(lg) {
    padding-right: 0;
    padding-left: 0;
    &:first-of-type {
      border-top: 1px solid currentColor;
      #{$this}__category,
      #{$this}__title,
      #{$this}__tags,
      #{$this}__date {
        &:before {
          font-size: 0.75rem;
          font-weight: bold;
          position: absolute;
          top: 0;
          margin-top: -2rem;
          text-transform: uppercase;
        }
      }
      #{$this}__category:before {
        content: 'Category';
      }
      #{$this}__title:before {
        content: 'Title';
      }
      #{$this}__tags:before {
        content: 'Tags';
      }
      #{$this}__date:before {
        content: 'Date';
      }
    }
  }

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: 0 0;
    background-color: currentColor;
  }
  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
  &:last-child {
    border-bottom: none;

    @include screen(lg) {
      border-bottom: 1px solid currentColor;
    }
  }
  &__article {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    justify-content: space-between;

    @include screen(sm) {
      grid-column-gap: 1rem;
      grid-template-columns: repeat(8, 1fr);
    }
    @include screen(lg) {
      grid-template-columns: repeat(16, 1fr);
      align-items: end;
    }
  }
  &__title {
    font-size: 1.25rem;
    font-weight: normal;
    grid-column-end: span 2;
    margin-top: 0;
    margin-bottom: 2rem;
    text-transform: none;

    @include screen(sm) {
      grid-column: 2 / span 5;
      grid-row-end: span 3;
    }
    @include screen(lg) {
      grid-column: 3 / span 7;
      grid-row: 1;
      margin-bottom: 0;
    }
  }
  &__category {
    grid-row: 1;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @include screen(lg) {
      grid-column: 1 / span 2;
    }
  }
  &__date {
    grid-row: 1;
    text-align: right;

    @include screen(sm) {
      grid-column: 7 / span 2;
    }
    @include screen(lg) {
      grid-column: 13 / span 2;
    }
  }
  &__tags {
    padding: 0;
    list-style-type: none;

    @include screen(sm) {
      grid-column: 7 / span 2;
      margin-bottom: 1rem;
      text-align: right;
    }
    @include screen(lg) {
      grid-column: 11 / span 2;
      margin-bottom: 0;
      text-align: left;
    }
  }
  &__link {
    align-self: end;
    text-align: right;

    @include screen(sm) {
      grid-column: 7 / span 2;
      align-self: unset;
    }
    @include screen(lg) {
      grid-column: 16;
    }
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
    }
  }
  &__icon {
    width: 0.625rem;
  }
}
