.case-studies-list {
  padding: 0;
  list-style-type: none;
  counter-reset: case-studies;
}
.case-study-list-item {
  padding: 1.25rem 1.5rem;
  counter-increment: case-studies;
  border-bottom: 1px solid currentColor;
  &__article {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto auto;
    &:before {
      font-size: 0.75rem;
      content: '0' counter(case-studies);
    }
  }
  &__title {
    font-family: $font--display;
    font-size: 3rem;
    font-weight: 100;
    line-height: 0.85;
    grid-column-end: span 3;
    grid-row: 2;
    max-width: 15rem;
    hyphens: auto;
    align-self: end;
    margin: 0;
    // word-wrap: break-word;
    text-transform: uppercase;
  }
  &__meta {
    font-size: 0.75rem;
    grid-column-end: span 3;
    grid-row: 3;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &__involvement {
    margin: 0;
  }
  &__image {
    grid-column: 4;
    grid-row: 1 / span 4;
    height: 11rem;
    object-fit: cover;
  }
  &__link {
    font-size: 0.75rem;
    grid-column-end: span 3;
    grid-row: 4;
    text-transform: uppercase;
  }
}
