$font--display: 'Silk Serif', serif;
$font--text: 'Neue Haas Grotesk', 'Helvetica Neue', 'Helvetica', sans-serif;
$font--mono: 'SF Mono', 'SFMono-Regular', 'Fira Code', Consolas,
  'Liberation Mono', Menlo, Courier, monospace;

$breakpoints: (
  sm: 37.5rem,
  md: 56rem,
  lg: 75rem
);

$color--mono-14: hsl(197, 10%, 14%);
$color--mono-19: hsl(200, 9%, 19%);
$color--mono-43: hsl(197, 10%, 43%);
$color--mono-86: hsl(17, 10%, 86%);
$color--mono-88: hsl(0, 5%, 88%);
$color--mono-96: hsl(0, 0%, 96%);

$clip-path-init: polygon(0 0, 100% 0, 100% 100%, 0 100%);
