html {
  scroll-behavior: smooth;
}
body {
  font-family: $font--text;
  margin: 0;
  color: #202527;
  background-color: #f5f5f5;
}
a {
  color: inherit;
}
img {
  max-width: 100%;
}
.container {
  padding: 0 1.5rem;
}
.grid {
  padding: 0 1.5rem;
}
.page-title {
  font-family: $font--display;
  font-size: 6rem;
  font-weight: 100;
  line-height: 0.9;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 11rem;
  margin-bottom: 5rem;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.writing-page {
  overflow-x: hidden;
}
