:root {
  --color--text-primary: #{$color--mono-14};
  --color--text-secondary: #{$color--mono-43};
  --color--background: #{$color--mono-96};
  --color--contrast: #{$color--mono-96};
  --color--mag-background: #{$color--mono-88};
  &[dark] {
    --color--mag-background: #{$color--mono-19};
    --color--text-primary: #{$color--mono-86};
    --color--background: #{$color--mono-14};
  }
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: $font--text;
  margin: 0;
  counter-reset: homepage-headers;
  color: var(--color--text-primary);
  background-color: var(--color--background);
}
a {
  color: inherit;
}
img {
  max-width: 100%;
}
.container {
  max-width: 37rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.grid {
  padding: 0 1.5rem;
}
.page-title {
  font-family: $font--display;
  font-size: 5.2rem;
  font-weight: 100;
  line-height: 0.9;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 11rem;
  margin-bottom: 5rem;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  @include screen(sm) {
    font-size: 6rem;
  }
  @include screen(lg) {
    font-size: 9rem;
  }
  .char {
    display: inline-block;
    clip-path: polygon(0% 0%, 140% 0%, 140% 100%, 0% 100%);
  }
}
.writing-page {
  overflow-x: hidden;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border: 0;
}
.visually-hidden--sm {
  @include screen(sm) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: auto;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    border: 0;
  }
}
.theme-toggle {
  font-size: 1.5rem;
  position: fixed;
  z-index: 3;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  cursor: pointer;
  transition: opacity 0.1s;
  opacity: 0.2;
  color: var(--color--background);
  border: 0;
  border-radius: 100%;
  filter: grayscale(1);
  background-color: var(--color--text-primary);

  @include screen(md) {
    font-size: 2rem;
    right: 1rem;
    bottom: 3rem;
    width: unset;
    height: unset;
    color: var(--color--text-primary);
    background-color: transparent;
  }
  &:hover {
    opacity: 1;
  }
  svg {
    width: 2rem;
    transition: transform 0.2s ease-in-out;
    transform: rotate(-45deg);
    color: inherit;
    [dark] & {
      transform: rotate(-45deg + 180);
    }
  }
}
