:root {
  --color--text-primary: #{$color--mono-14};
  --color--text-secondary: #{$color--mono-43};
  --color--background: #{$color--mono-96};
  --color--contrast: #{$color--mono-96};
  --color--mag-background: #{$color--mono-88};
  --color--mag-text: #{$color--mono-14};
  &[dark] {
    --color--mag-background: #{$color--mono-19};
    --color--text-primary: #{$color--mono-86};
    --color--background: #{$color--mono-14};
  }
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: $font--text;
  margin: 0;
  color: var(--color--text-primary);
  background-color: var(--color--background);
}
a {
  color: inherit;
}
img {
  max-width: 100%;
}
.container {
  max-width: 37rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.grid {
  padding: 0 1.5rem;
}
.page-title {
  font-family: $font--display;
  font-size: 6rem;
  font-weight: 100;
  line-height: 0.9;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 11rem;
  margin-bottom: 5rem;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.writing-page {
  overflow-x: hidden;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border: 0;
}
.visually-hidden--sm {
  @include screen(sm) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: auto;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    border: 0;
  }
}
