.rendered {
  margin-bottom: 6rem;
  counter-reset: h2s;

  @include screen(lg) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    max-width: 75rem;
    margin: 0 auto;
    > :last-child {
      margin-bottom: 10rem;
    }
  }
  p,
  h3,
  h4,
  ul,
  ol,
  .editors-note {
    max-width: 22.75rem;

    @include screen(lg) {
      grid-column: 8 / span 5;
    }
  }
  h2 {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    padding-top: 4.5rem;
    counter-increment: h2s;
    border-top: 1px solid currentColor;

    scroll-margin-top: 2.5rem;
    @include screen(sm) {
      display: grid;
      grid-column-gap: 2ch;
      grid-template-columns: auto 1fr;
    }
    @include screen(lg) {
      position: relative;
      grid-column: 1 / span 6;
      margin-top: 10rem;
      margin-bottom: 0;
      border-top: 0;
      &:after {
        // margin-left: calc(50% - 50vw);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 75rem;
        height: 1px;
        content: '';
        background-color: currentColor;
      }
      + p {
        margin-top: 10rem + 4.5rem;
      }
    }
    &:before {
      display: block;
      margin-bottom: 1em;
      content: '0' counter(h2s);
    }
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  p {
    line-height: 1.5;
  }
  ul,
  ol {
    padding-left: 1rem;
  }
  ul {
    list-style-type: square;
  }
  li {
    margin-bottom: 0.5em;
  }
  blockquote {
    margin: 0;
    padding: 1rem 1.5rem;
    padding-right: 0;
    border-left: 6px solid currentColor;

    @include screen(lg) {
      font-family: $font--display;
      font-size: 1.5rem;
      grid-column: 7 / span 7;
    }
    > p {
      margin-top: 0;
    }
  }
  pre {
    @include screen(lg) {
      grid-column: 7 / span 7;
    }
  }
  p > code,
  li code {
    font-family: $font--mono;
    font-size: 0.875rem;
    word-break: break-word;
    color: #466a8e;
  }
}
.header-anchor {
  display: none;
}
.editors-note {
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  color: #637278;
  border-left: 4px solid currentColor;
  &:before {
    font-size: 0.75rem;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    content: "Editor's Note";
    text-transform: uppercase;
  }
}
