.rendered {
  margin-bottom: 6rem;
  counter-reset: h2s;
  p,
  h3,
  h4,
  ul {
    max-width: 22.75rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    padding-top: 4.5rem;
    counter-increment: h2s;
    border-top: 1px solid currentColor;

    scroll-margin-top: 2.5rem;
    &:before {
      display: block;
      margin-bottom: 1em;
      content: '0' counter(h2s);
    }
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  p {
    line-height: 1.5;
  }
  ul,
  ol {
    padding-left: 1rem;
  }
  ul {
    list-style-type: square;
  }
  li {
    margin-bottom: 0.5em;
  }
  p code {
  }
  p > code,
  li code {
    font-family: $font--mono;
    font-size: 0.875rem;
    word-break: break-word;
    color: #466a8e;
  }
}
.header-anchor {
  display: none;
}
.editors-note {
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  color: #637278;
  border-left: 4px solid currentColor;
  &:before {
    font-size: 0.75rem;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    content: "Editor's Note";
    text-transform: uppercase;
  }
}
